.content {
    background-color: #ff0000;
    padding: 20px;
    border-radius: 8px;
  }
  
  .button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #07fc71;
    color: rgb(255, 1, 158);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #9c82d6;
  }
  